<div class="container">
    <div class="row">
        <div class="col-md-6 mb-2">
            <img 
                class="img-fluid d-none d-sm-block" 
                src="assets/img/home.jpg" 
                alt="Imagem de um gato para as boas vindas"
            >
        </div>
        <div class="col-md-6">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<!-- router-outlet informa ao angular que na div ter um conteúdo que será projetado a partir de uma rota  -->